* {
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

body {
    background-color: white;
    color: black;
    font-size: 25px;
    transition: .2s;
    padding-bottom: 90px; 
    position: relative;
}
      
#contents {
  
  width: 70vw;
  margin-top: 3vw !important;
  margin-bottom: 3vw !important;
  margin: auto;
  border-radius: 10px;
  z-index: -1;
  padding: 3vw;
  
}
/* DARK MODE */
.light {
  color:black !important;
}

.dark-mode {
  background-color: #181A1B !important;
  color: white;
  transition: .2;
}

.darkmodetext {
  font-size: 14px;
  color: white;
  font-weight: 750;
  overflow: hidden;
}

.dark-mode #header {
  background-color: #2b2b2b !important;
}

.light-mode #header {
  background-color: #9c9c9c;
}

.dark-mode #contents {
  background-color: #2b2b2b !important;
}

.light-mode #contents {
  background-color: #9c9c9c !important;
}

.dark-mode #footer {
  background-color: #2b2b2b !important;
}

.light-mode #footer {
  background-color: #9c9c9c;
}

#textbox p {
  font-size:calc(8px + 2.3vw);
}

.dark-mode #searchicon {
  background-color: rgb(59, 59, 59) !important;
}

.light-mode #searchicon {
  background-color: rgb(204, 204, 204);
}

.dark-mode #cvicon {
  background-color: rgb(59, 59, 59) !important;
}

.light-mode #cvicon {
  background-color: rgb(204, 204, 204);
}

.dark-mode #searchbar2 {
  background-color: rgb(59,59,59) !important;
}

.light-mode #searchbar2 {
  background-color: rgb(204, 204, 204) !important
}

/* SCREEN SIZE */

@media screen and (max-width: 879px) {
  #switchtext2 {
    display:flex !important;
  }

  #switchtext {
    display:none;
  }

  #switch1 {
    display:none;
  }

  #switch2 {
    display:flex !important;
  }
}

@media screen and (max-width: 800px) {
#facelul {
  display:none;
}
#cvicon {
  display: flex !important;
}
}

@media screen and (max-width: 629px) { 
  .topnav a:not(.active) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

body {
  padding-bottom: 250px; 
}

  .topnav {
    padding-left: 15px;
  }

  #logo {
      margin-left: 50px !important;
  }

  #footer {
    height: 225px !important;
  }

  .img {
  height: 41px !important;
  margin-top: 25px !important;
  }
}

@media screen and (max-width: 392px) { 
  .topnav {
    padding-left: 0px;
  } 
  
  .topnav a {
    margin-left:  10px !important;
  }

}

@media screen and (max-width: 377px) { 
  .topnav a {
    margin-left:  10px !important;
  }

}

/* HEADER */

#header {
  background-color: #2b2b2b;
  height: 75px;
  overflow: hidden;
  position: relative;
}

#links {
  float:left;
  margin-left: 50px;
  transform: translateY(30%);  
}

#logo {
  width:65px;
  margin-top: 5px;
  margin-left: 75px;
  float:left;
}

#facelul {
  overflow: hidden;
  position: absolute;
  right: 1vw;
  top:130px;
  text-align: center;
}

#facelul img {
  border-radius: 50%;
  overflow: hidden;
  width:10vw;
}

#facelul img:hover {
  filter:opacity(50%);
}

#facelul img:hover + #overlay {
  display:flex;
}

#facelul p {
  width:10vw;
}

#overlay {
  position: absolute;
  display:none;
  top:4.5vw;
  left:4.3vw;
}

#overlay:hover {
  display:flex;
}

.active {
  background-color: rgb(0, 68, 255);
}

.topnav {
  overflow: hidden;
  margin:0px 15px;
  height:75px;
  position: relative;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 16px;
  margin-top: 17px;
  margin-left: 15px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  border-radius: 2pt;
  outline: none;
  transition: .1s;
}

.topnav a:hover {
  box-shadow: 0 0 3pt 2pt rgb(0, 68, 255);
}

.topnav .icon {
  display: none;
}

.mobile-menu-child {
  position:absolute;
  right: 0;
  background-color: #2b2b2bad !important;
  width:30vw; 
  border: 2px solid rgb(0, 68, 255);
  border-radius: 5px;
  z-index: 2;
}

.mobile-menu-child a {
  text-align: center;
  display:block;
  color:white;
  text-decoration: none; 
  padding: 2vw 0px;
}

.mobile-menu-child a:hover {
  border: 2px solid rgb(0, 68, 255);
  border-radius: 5px;
}

.mobile-menu-child .active {
  background-color: #0044ffad;
}

.icon {
  margin-right: 10px;
}

/* DARK MODE SWTICH */

.switch {
  position: relative;
  width: 60px;
  height: 34px;
  transform: translateY(50%);
  margin-left: 23px;
  margin-right:5px;
  float: right;
  overflow: hidden;
  z-index: 2;
}

#switchtext {
  position: absolute;
  right:0px;
  margin-top: 52px;
}

#switch2 {
  margin:0px !important; 
  top:70px;
  left:5px;
  position: absolute;
  display:none;
  float:left;
}

#switchtext2 {
  top: 120px;
  left: 0;
  position: absolute;
  display:none;
  float:left;
  z-index: 2;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray; 
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(15, 15, 15);
  transition: .4s;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 12vw;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 102%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

input:checked + .slider:before {
  background-color: rgb(204, 204, 204);
}

input:checked + .slider {
  background-color: rgb(15, 15, 15);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(204, 204, 204);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#searchicon {
  margin: 12px;
  z-index: 1;
}

.dot #cvicon {
  margin-top: 11px;
  margin: auto;
  
}

#cvicon {
  margin-right: 13px;
  margin-top: 75px;
  z-index: 1;
  
}

.cv {
  display:flex;
  float:right;
  transform: translateY(90%);
}

.cv a {
padding: 0;
margin: 0;
}

.searchbar {
  margin-left: 21px;
  background-color: #808080;
  width: 300px;
  height: 44px;
  transform: translateY(35%);
  border-radius: 5px;
  display:flex;
  flex-direction:row;
  align-items:center;
  float:right;
}

.searchbar input {
  padding-right: 0px;
}

.searchbar .fa {
  margin-left: 5px;
}

#searchbar2 {
  position: absolute;
  right: 0;
  margin-right:10px;
  margin-top:-8px;
  background-color: #2b2b2b;
  height:50px;
  border: 2px solid rgb(0, 68, 255);
  border-radius: 5px;
  z-index: 2;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7; 
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

#closebutton {
  padding-left: 10px;
}

.dot {
  height: 50px;
  width: 50px;
  right: 0;
  margin:13px 12px 0px 0px;
  background-color: #bbb;
  border-radius: 50%;
  position: absolute;
}

.dot:active {
  background-color: gray;
  transition: .2s;
}

#submit {
  transition: .2s;
  padding-right: 12px;
}

#footer {
  width: calc(100% - 0px);
  height: 90px;
  bottom: 0;
  position: absolute;
  background-color: #2b2b2b;
}

.horizontal-flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  overflow:hidden;
  
}

.vertical-flex-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow:hidden;
}

.horizontal-flex-container .img {
  height: 61px;
  margin-top: 10px;
  overflow:hidden;
}

.horizontal-flex-container #img2 {
  margin: 10px 100px;
}

.vertical-flex-container .img {
  height: 61px;
  margin-top: 50px;
  overflow:hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper div {
  outline: black solid 1px;
}

.wrapper div p {
  margin-top: 150px !important;
  font-size:calc(8px + 0.9vw);
  margin:auto;
  max-width:100px;
  text-align: center;
}

.one {
  grid-column: 1;
  grid-row: 1 / 4;
}
.two {
  grid-column: 2;
  grid-row: 1 / 4;
}
.three {
  grid-column: 3;
  grid-row: 1 / 4;
}
.four {
  grid-column: 1;
  grid-row: 4 / 7;
}
.five {
  grid-column: 2;
  grid-row: 4 / 7;
}
.six {
  grid-column: 3;
  grid-row: 4 / 7;
}

/* Julkalender */

#body2 {
  padding-bottom: 0;
}

#title {
  font-family: 'Mountains of Christmas', cursive;
  font-size:calc(20px + 2vw);
  margin-left: min(5px, 20%);;
}

.calendar {  
  transform: translateY(5%);
  margin: auto;
  width: 40%;
  min-width: 320px;
  height:44vw;
  min-height: 550px;

  
  display: grid;
  grid-template-columns: 1fr [q] 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1% 2%;
  grid-auto-flow: row;
  grid-template-areas:
    "text text text q1 q2 q3"
    "text text text q1 q4 q4"
    "q5 q6 q7 q8 q9 q9"
    "q10 q11 q12 q13 q14 q15"
    "q10 q16 q17 q18 q14 q15"
    "q19 q19 q20 q21 q22 q22"
    "q23 q24 q24 q25 q25 q25"
    "q23 q24 q24 q25 q25 q25";
}

.calendar div {
  border-radius: 5px;
  outline: black solid 1px;
}


.q1 { grid-area: q1; }

.q2 { grid-area: q2; }

.q3 { grid-area: q3; }

.q4 { grid-area: q4; }

.q5 { grid-area: q5; }

.q6 { grid-area: q6; }

.q7 { grid-area: q7; }

.q8 { grid-area: q8; }

.q9 { grid-area: q9; }

.q10 { grid-area: q10; }

.q11 { grid-area: q11; }

.q12 { grid-area: q12; }

.q13 { grid-area: q13; }

.q14 { grid-area: q14; }

.q15 { grid-area: q15; }

.q16 { grid-area: q16; }

.q17 { grid-area: q17; }

.q18 { grid-area: q18; }

.q19 { grid-area: q19; }

.q20 { grid-area: q20; }

.q21 { grid-area: q21; }

.q22 { grid-area: q22; }

.q23 { grid-area: q23; }

.q25 { grid-area: q25; }

.q24 { grid-area: q24; }

.text { grid-area: text; }
