* {
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    color: black;
    font-size: 25px;
    transition: .2s;
}
      
#contents {
  position: relative;
  background-color: #8d4747;
  height: 45vw;
  width: 75vw;
  margin-top: 3vw !important;
  margin-bottom: 3vw !important;
  margin: auto;
  border-radius: 10px;
}

.light {
  color:black !important;
}

.dark-mode {
  background-color: #181A1B !important;
  color: white;
  transition: .2;
}

.dark-mode #searchicon {
  background-color: rgb(59, 59, 59) !important;
}

.light-mode #searchicon {
  background-color: rgb(204, 204, 204);
}

.dark-mode #searchbar2 {
  background-color: rgb(59,59,59) !important;
}

.light-mode #searchbar2 {
  background-color: rgb(204, 204, 204) !important
}

@media screen and (max-width: 1550px) {

}

@media screen and (max-width: 958px) {
  #darkmodetext2 {
    display:flex !important;
  }

  #darkmodetext {
    display:none;
  }

  #switch1 {
    display:none;
  }

  #switch2 {
    display:flex !important;
  }
}
@media screen and (max-width: 629px) { 
  .topnav a:not(.active) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav {
    padding-left: 15px;
  }

  #logo {
      margin-left: 50px !important;
  }

  #footer {
    height: 225px !important;
  }

  .img {
  height: 41px !important;
  margin-top: 25px !important;
  }

  /* #darkmodetext2 {
  bottom: 230px !important;
  } */

  /* #switch2 {
    bottom: 265px !important;
  } */
}


@media screen and (max-width: 392px) { 
  .topnav {
    padding-left: 0px;
  } 
  
  .topnav a {
    margin-left:  10px !important;
  }

  .switch {
    /* margin-left: 15px !important; */
  }
}

@media screen and (max-width: 377px) { 
  .topnav a {
    margin-left:  10px !important;
  }

  .switch {
    /* margin-left: 15px !important; */
  }
}

#header {
  background-color: #2b2b2b;
  height: 75px;
  overflow: hidden;
  position: relative;
}

#links {
  float:left;
  margin-left: 50px;
  transform: translateY(30%);  
}       

#logo {
  width:75px;
  height: 100%;
  background-color: green;
  margin-left: 75px;
  float:left;
}

.active {
  background-color: rgb(0, 68, 255);
}

.topnav {
  overflow: hidden;
  margin:0px 15px;
  height:75px;
  position: relative;
}
  
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 16px;
  margin-top: 22px;
  margin-left: 15px;
  text-decoration: none;
  font-size: 17px;
  border: none;
  border-radius: 2pt;
  outline: none;
  transition: .1s;
}
  
.topnav a:hover {
  box-shadow: 0 0 3pt 2pt rgb(0, 68, 255);
}
  
.topnav .icon {
  display: none;
}

.mobile-menu-child {
  position:absolute;
  right: 0;
  margin:0px auto !important;
  background-color: #2b2b2bad !important;
  width:246px; 
  border: 2px solid rgb(0, 68, 255);
  border-radius: 5px;
  z-index: 2;
}

.mobile-menu-child a {
  text-align: center;
  display:block;
  color:white;
  text-decoration: none; 
  padding: 12px 0px;
}

.mobile-menu-child a:hover {
  border: 2px solid rgb(0, 68, 255);
  border-radius: 5px;
}

.mobile-menu-child .active {
  background-color: #0044ffad;
}

.darkmodetext {
  font-size: 14px;
  color: white;
  font-weight: 750;
  overflow: hidden;
}

#switchbox {
  margin-left: 50px;
}

#switch2 {
  margin:0px !important; 
  right:0;
  bottom: 0;
  position: relative;
  display:none;
  float:none;
}
  
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  transform: translateY(50%);
  margin-left: 23px;
  margin-right:5px;
  float: right;
  overflow: hidden;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray; 
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(15, 15, 15);
  transition: .4s;
}

input:checked + .slider:before {
  background-color: rgb(204, 204, 204);
}

input:checked + .slider {
  background-color: rgb(15, 15, 15);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(204, 204, 204);;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#icon {
  margin: 12px;
}

.searchbar {
  margin-left: 21px;
  background-color: #808080;
  width: 300px;
  height: 44px;
  transform: translateY(35%);
  border-radius: 5px;
  display:flex;
  flex-direction:row;
  align-items:center;
  float:right;
}

.searchbar input {
  padding-right: 0px;
}

.searchbar .fa {
  margin-left: 5px;
}

#searchbar2 {
  position: absolute;
  right: 0;
  margin-right:10px;
  margin-top:-8px;
  background-color: #2b2b2b;
  height:50px;
  border: 2px solid rgb(0, 68, 255);
  border-radius: 5px;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7; 
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

#closebutton {
  padding-left: 10px;
  
}

.dot {
  height: 50px;
  width: 50px;
  right: 0;
  margin:13px 12px 0px 0px;
  background-color: #bbb;
  border-radius: 50%;
  
  position: absolute;
}

.dot:active {
  background-color: gray;
  transition: .2s;
}

#submit {
  transition: .2s;
  padding-right: 12px;
}

#footer {
  width: calc(100% - 0px);
  height: 90px;
  bottom: 0;
  position: relative;
  background-color: #2b2b2b;
}


.horizontal-flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  overflow:hidden;
  
}

.vertical-flex-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow:hidden;
}

.horizontal-flex-container  .img {
  height: 61px;
  margin-top: 10px;
  overflow:hidden;
}

.horizontal-flex-container  #img2 {
  margin: 10px 100px;
}

.vertical-flex-container  .img {
  height: 61px;
  margin-top: 50px;
  overflow:hidden;
}

#darkmodetext {
  position: absolute;
  right:0px;
  margin-top: 52px;
}

#darkmodetext2 {
  bottom: 0;
  right: 0;
  position: relative;
  display:none;
}